<a href="https://colab.research.google.com/github/WilderJoseth/Coursera_Capstone/blob/master/BattleNeighborhoodsWeek2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Battle of Neighborhoods

## 1. Introduction
A businessman wants to open a new restaurant, but he does not know where is the best place. He has information that New York City (EEUU) and Toronto (Canada) are good options to start, but he only has a budget to open only one.

This businessman wants to get better profits reducing cost and receiving many clients.

### 1.1. Problem
Use data to identify the best place where a new restaurant get better profits.

### 1.2. Interest
The businessman who wants to open a new restaurant.

## 2. Data

In [104]:
# Libraries
import pandas as pd
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
import numpy as np
import requests
import json
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [22]:
CLIENT_ID = '5B2RI322TTDGEKBRGBQ4TZRVKKISPG5ZONP50OVQFBEBAOCL' # your Foursquare ID
CLIENT_SECRET = 'Q0MHJWED0EJNN1WTOJ3R2ZAS03GOAL3GACL2KG5WZX2QQJRC' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 5B2RI322TTDGEKBRGBQ4TZRVKKISPG5ZONP50OVQFBEBAOCL
CLIENT_SECRET:Q0MHJWED0EJNN1WTOJ3R2ZAS03GOAL3GACL2KG5WZX2QQJRC

In [25]:
LIMIT = 30
radius = 100

### 2.1. Common functions

In [23]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [33]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

### 2.2. Work with New York data

#### 2.2.1. Load data

In [13]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [16]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [18]:
neighborhoodsNY_data = newyork_data['features']

In [19]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
dsNewYork = pd.DataFrame(columns=column_names)

for data in neighborhoodsNY_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    dsNewYork = dsNewYork.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [20]:
dsNewYork.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

#### 2.2.2. Get Manhattan data

In [21]:
manhattan_data = dsNewYork[dsNewYork['Borough'] == 'Manhattan'].reset_index(drop=True)
manhattan_data.head()

     Borough        Neighborhood   Latitude  Longitude
0  Manhattan         Marble Hill  40.876551 -73.910660
1  Manhattan           Chinatown  40.715618 -73.994279
2  Manhattan  Washington Heights  40.851903 -73.936900
3  Manhattan              Inwood  40.867684 -73.921210
4  Manhattan    Hamilton Heights  40.823604 -73.949688

In [42]:
# There is no missing values
manhattan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Borough       40 non-null     object
 1   Neighborhood  40 non-null     object
 2   Latitude      40 non-null     float64
 3   Longitude     40 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.4+ KB

#### 2.2.3. Get venues of Manhattan

In [26]:
manhattan_venues = getNearbyVenues(names=manhattan_data['Neighborhood'],
                                   latitudes=manhattan_data['Latitude'],
                                   longitudes=manhattan_data['Longitude']
                                  )

Marble Hill
Chinatown
Washington Heights
Inwood
Hamilton Heights
Manhattanville
Central Harlem
East Harlem
Upper East Side
Yorkville
Lenox Hill
Roosevelt Island
Upper West Side
Lincoln Square
Clinton
Midtown
Murray Hill
Chelsea
Greenwich Village
East Village
Lower East Side
Tribeca
Little Italy
Soho
West Village
Manhattan Valley
Morningside Heights
Gramercy
Battery Park City
Financial District
Carnegie Hill
Noho
Civic Center
Midtown South
Sutton Place
Turtle Bay
Tudor City
Stuyvesant Town
Flatiron
Hudson Yards

In [30]:
print(manhattan_venues.shape)
manhattan_venues.head()

(1181, 7)

  Neighborhood  Neighborhood Latitude  ...  Venue Longitude Venue Category
0  Marble Hill              40.876551  ...       -73.910271    Pizza Place
1  Marble Hill              40.876551  ...       -73.906204    Yoga Studio
2  Marble Hill              40.876551  ...       -73.908937          Diner
3  Marble Hill              40.876551  ...       -73.905582    Coffee Shop
4  Marble Hill              40.876551  ...       -73.906666     Donut Shop

[5 rows x 7 columns]

In [44]:
# There is no missing values
manhattan_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Neighborhood            1181 non-null   object
 1   Neighborhood Latitude   1181 non-null   float64
 2   Neighborhood Longitude  1181 non-null   float64
 3   Venue                   1181 non-null   object
 4   Venue Latitude          1181 non-null   float64
 5   Venue Longitude         1181 non-null   float64
 6   Venue Category          1181 non-null   object
dtypes: float64(4), object(3)
memory usage: 64.7+ KB

#### 2.2.4. Process Manhattan venues

Transform venue category using One-hot encoding

In [31]:
# one hot encoding
manhattan_onehot = pd.get_dummies(manhattan_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
manhattan_onehot['Neighborhood'] = manhattan_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [manhattan_onehot.columns[-1]] + list(manhattan_onehot.columns[:-1])
manhattan_onehot = manhattan_onehot[fixed_columns]

manhattan_onehot.head()

  Neighborhood  Adult Boutique  ...  Women's Store  Yoga Studio
0  Marble Hill               0  ...              0            0
1  Marble Hill               0  ...              0            1
2  Marble Hill               0  ...              0            0
3  Marble Hill               0  ...              0            0
4  Marble Hill               0  ...              0            0

[5 rows x 243 columns]

In [45]:
manhattan_onehot.shape

(1181, 243)

##### Group by neighborhood and calculate the mean

In [32]:
manhattan_grouped = manhattan_onehot.groupby('Neighborhood').mean().reset_index()
manhattan_grouped.head()

        Neighborhood  Adult Boutique  ...  Women's Store  Yoga Studio
0  Battery Park City             0.0  ...            0.0     0.000000
1      Carnegie Hill             0.0  ...            0.0     0.000000
2     Central Harlem             0.0  ...            0.0     0.000000
3            Chelsea             0.0  ...            0.0     0.000000
4          Chinatown             0.0  ...            0.0     0.033333

[5 rows x 243 columns]

In [46]:
manhattan_grouped.shape

(40, 243)

##### Get the 10 most common venues by each neighborhood

In [58]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoodsManhattan_venues_sorted = pd.DataFrame(columns=columns)
neighborhoodsManhattan_venues_sorted['Neighborhood'] = manhattan_grouped['Neighborhood']

for ind in np.arange(manhattan_grouped.shape[0]):
    neighborhoodsManhattan_venues_sorted.iloc[ind, 1:] = return_most_common_venues(manhattan_grouped.iloc[ind, :], num_top_venues)

neighborhoodsManhattan_venues_sorted.head()

        Neighborhood  ... 10th Most Common Venue
0  Battery Park City  ...          Movie Theater
1      Carnegie Hill  ...      French Restaurant
2     Central Harlem  ...           Dessert Shop
3            Chelsea  ...         Scenic Lookout
4          Chinatown  ...            Yoga Studio

[5 rows x 11 columns]

#### 2.2.5. Cluster neighborhood by venues

In [37]:
# set number of clusters
kclusters = 5

manhattan_grouped_clustering = manhattan_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(manhattan_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([3, 3, 3, 0, 1, 3, 3, 1, 0, 3], dtype=int32)

In [40]:
manhattan_grouped_clustering.shape

(40, 242)

In [101]:
# add clustering labels
neighborhoodsManhattan_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

manhattan_merged = manhattan_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
manhattan_merged = manhattan_merged.join(neighborhoodsManhattan_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

manhattan_merged.head() # check the last columns!

     Borough  ...     10th Most Common Venue
0  Manhattan  ...             Discount Store
1  Manhattan  ...                Yoga Studio
2  Manhattan  ...             Breakfast Spot
3  Manhattan  ...  Latin American Restaurant
4  Manhattan  ...   Mediterranean Restaurant

[5 rows x 15 columns]

In [118]:
manhattan_merged['1st Most Common Venue'].value_counts()

Coffee Shop             5
Gym / Fitness Center    3
Sandwich Place          2
Chinese Restaurant      2
Italian Restaurant      2
Japanese Restaurant     2
Korean Restaurant       2
Theater                 2
Park                    2
French Restaurant       1
CafÃ©                    1
Ice Cream Shop          1
Cocktail Bar            1
Spa                     1
Hotel                   1
Greek Restaurant        1
Restaurant              1
Memorial Site           1
Bakery                  1
Karaoke Bar             1
Mexican Restaurant      1
American Restaurant     1
Gym                     1
Yoga Studio             1
Women's Store           1
Bagel Shop              1
Boat or Ferry           1
Name: 1st Most Common Venue, dtype: int64

In [119]:
manhattan_merged['1st Most Common Venue'].value_counts()

Coffee Shop             5
Gym / Fitness Center    3
Sandwich Place          2
Chinese Restaurant      2
Italian Restaurant      2
Japanese Restaurant     2
Korean Restaurant       2
Theater                 2
Park                    2
French Restaurant       1
CafÃ©                    1
Ice Cream Shop          1
Cocktail Bar            1
Spa                     1
Hotel                   1
Greek Restaurant        1
Restaurant              1
Memorial Site           1
Bakery                  1
Karaoke Bar             1
Mexican Restaurant      1
American Restaurant     1
Gym                     1
Yoga Studio             1
Women's Store           1
Bagel Shop              1
Boat or Ferry           1
Name: 1st Most Common Venue, dtype: int64

In [120]:
manhattan_merged['1st Most Common Venue'].value_counts()

Coffee Shop             5
Gym / Fitness Center    3
Sandwich Place          2
Chinese Restaurant      2
Italian Restaurant      2
Japanese Restaurant     2
Korean Restaurant       2
Theater                 2
Park                    2
French Restaurant       1
CafÃ©                    1
Ice Cream Shop          1
Cocktail Bar            1
Spa                     1
Hotel                   1
Greek Restaurant        1
Restaurant              1
Memorial Site           1
Bakery                  1
Karaoke Bar             1
Mexican Restaurant      1
American Restaurant     1
Gym                     1
Yoga Studio             1
Women's Store           1
Bagel Shop              1
Boat or Ferry           1
Name: 1st Most Common Venue, dtype: int64

###2.3. Work with Toronto data

#### 2.3.1. Load data

In [82]:
dsToronto = pd.read_csv('sample_data/torontoCodPostalList.csv')
dsToronto = dsToronto[dsToronto['Borough'] != 'Not assigned']
dsToronto.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [83]:
dsTorontoGeo = pd.read_csv('http://cocl.us/Geospatial_data')
dsTorontoGeo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [84]:
dsToronto = dsToronto.join(dsTorontoGeo.set_index('Postal Code'), on = 'Postal Code')
dsToronto.head()

  Postal Code           Borough  ...   Latitude  Longitude
2         M3A        North York  ...  43.753259 -79.329656
3         M4A        North York  ...  43.725882 -79.315572
4         M5A  Downtown Toronto  ...  43.654260 -79.360636
5         M6A        North York  ...  43.718518 -79.464763
6         M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [85]:
# There is no missing values
dsToronto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal Code   103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
 3   Latitude      103 non-null    float64
 4   Longitude     103 non-null    float64
dtypes: float64(2), object(3)
memory usage: 4.8+ KB

#### 2.3.2. Get Central Toronto data

In [86]:
toronto_data = dsToronto[dsToronto['Borough'].str.contains('Toronto')].reset_index(drop=True)
toronto_data.head()

  Postal Code           Borough  ...   Latitude  Longitude
0         M5A  Downtown Toronto  ...  43.654260 -79.360636
1         M7A  Downtown Toronto  ...  43.662301 -79.389494
2         M5B  Downtown Toronto  ...  43.657162 -79.378937
3         M5C  Downtown Toronto  ...  43.651494 -79.375418
4         M4E      East Toronto  ...  43.676357 -79.293031

[5 rows x 5 columns]

In [87]:
# There is no missing values
toronto_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal Code   39 non-null     object
 1   Borough       39 non-null     object
 2   Neighborhood  39 non-null     object
 3   Latitude      39 non-null     float64
 4   Longitude     39 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.6+ KB

#### 2.3.3. Get venues of Toronto

In [113]:
toronto_venues = getNearbyVenues(names=toronto_data['Neighborhood'],
                                   latitudes=toronto_data['Latitude'],
                                   longitudes=toronto_data['Longitude']
                                  )

Regent Park, Harbourfront
Queen's Park, Ontario Provincial Government
Garden District, Ryerson
St. James Town
The Beaches
Berczy Park
Central Bay Street
Christie
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
Studio District
Lawrence Park
Roselawn
Davisville North
Forest Hill North & West, Forest Hill Road Park
High Park, The Junction South
North Toronto West, Lawrence Park
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Rosedale
Stn A PO Boxes
St. James Town, Cabbagetown
First Canadian Place, Underground city
Church and Wellesley
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto

In [114]:
# There is no missing values
toronto_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Neighborhood            860 non-null    object
 1   Neighborhood Latitude   860 non-null    float64
 2   Neighborhood Longitude  860 non-null    float64
 3   Venue                   860 non-null    object
 4   Venue Latitude          860 non-null    float64
 5   Venue Longitude         860 non-null    float64
 6   Venue Category          860 non-null    object
dtypes: float64(4), object(3)
memory usage: 47.2+ KB

In [115]:
toronto_venues.head()

                Neighborhood  ...       Venue Category
0  Regent Park, Harbourfront  ...               Bakery
1  Regent Park, Harbourfront  ...          Coffee Shop
2  Regent Park, Harbourfront  ...  Distribution Center
3  Regent Park, Harbourfront  ...                  Spa
4  Regent Park, Harbourfront  ...                  Pub

[5 rows x 7 columns]

#### 2.3.4. Process Toronto venues

Transform venue category using One-hot encoding

In [121]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]

toronto_onehot.head()

   Yoga Studio  Airport  ...  Wine Bar  Wine Shop
0            0        0  ...         0          0
1            0        0  ...         0          0
2            0        0  ...         0          0
3            0        0  ...         0          0
4            0        0  ...         0          0

[5 rows x 193 columns]

Group by neighborhood and calculate the mean

In [93]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped.head()

                                        Neighborhood  ...  Wine Shop
0                                        Berczy Park  ...        0.0
1       Brockton, Parkdale Village, Exhibition Place  ...        0.0
2  Business reply mail Processing Centre, South C...  ...        0.0
3  CN Tower, King and Spadina, Railway Lands, Har...  ...        0.0
4                                 Central Bay Street  ...        0.0

[5 rows x 193 columns]

In [94]:
toronto_grouped.shape

(39, 193)

Get the 10 most common venues by each neighborhood

In [98]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoodsToronto_venues_sorted = pd.DataFrame(columns=columns)
neighborhoodsToronto_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoodsToronto_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoodsToronto_venues_sorted.head()

                                        Neighborhood  ... 10th Most Common Venue
0                                        Berczy Park  ...     Basketball Stadium
1       Brockton, Parkdale Village, Exhibition Place  ...             Restaurant
2  Business reply mail Processing Centre, South C...  ...                Butcher
3  CN Tower, King and Spadina, Railway Lands, Har...  ...       Sculpture Garden
4                                 Central Bay Street  ...             Poke Place

[5 rows x 11 columns]

#### 2.3.5. Cluster neighborhood by venues

In [99]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeansToronto = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeansToronto.labels_[0:10]

array([3, 0, 3, 3, 0, 3, 3, 0, 0, 3], dtype=int32)

In [100]:
# add clustering labels
neighborhoodsToronto_venues_sorted.insert(0, 'Cluster Labels', kmeansToronto.labels_)

toronto_merged = toronto_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoodsToronto_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head() # check the last columns!

  Postal Code           Borough  ...  9th Most Common Venue  10th Most Common Venue
0         M5A  Downtown Toronto  ...  Performing Arts Venue             Yoga Studio
1         M7A  Downtown Toronto  ...             Hobby Shop                Beer Bar
2         M5B  Downtown Toronto  ...                  Hotel                   Plaza
3         M5C  Downtown Toronto  ...         Ice Cream Shop      Italian Restaurant
4         M4E      East Toronto  ...          Deli / Bodega            Dance Studio

[5 rows x 16 columns]

In [103]:
toronto_merged['1st Most Common Venue'].value_counts()

CafÃ©                  11
Coffee Shop            7
Park                   4
Trail                  3
Restaurant             1
Airport Service        1
Gay Bar                1
Pharmacy               1
Mexican Restaurant     1
Dessert Shop           1
Garden Center          1
Garden                 1
Grocery Store          1
Gastropub              1
Clothing Store         1
Greek Restaurant       1
Bar                    1
Gift Shop              1
Name: 1st Most Common Venue, dtype: int64

In [116]:
toronto_merged['2nd Most Common Venue'].value_counts()

Coffee Shop              10
CafÃ©                      4
Bakery                    2
Pub                       2
Italian Restaurant        2
Wine Shop                 2
Fast Food Restaurant      1
Cocktail Bar              1
Seafood Restaurant        1
Department Store          1
Pizza Place               1
Breakfast Spot            1
Plaza                     1
Sandwich Place            1
Diner                     1
Airport Lounge            1
Trail                     1
Park                      1
Sushi Restaurant          1
Vietnamese Restaurant     1
Asian Restaurant          1
Bus Line                  1
Music Venue               1
Name: 2nd Most Common Venue, dtype: int64

In [117]:
toronto_merged['3rd Most Common Venue'].value_counts()

Restaurant                       4
CafÃ©                             3
Park                             3
Pizza Place                      2
Fast Food Restaurant             1
Sushi Restaurant                 1
Airport Terminal                 1
Vegetarian / Vegan Restaurant    1
Liquor Store                     1
Breakfast Spot                   1
Swim School                      1
Cocktail Bar                     1
Playground                       1
Vietnamese Restaurant            1
Bakery                           1
Wine Shop                        1
Skate Park                       1
Movie Theater                    1
Cosmetics Shop                   1
Coffee Shop                      1
Mexican Restaurant               1
Hotel                            1
Ramen Restaurant                 1
Theater                          1
Health Food Store                1
Clothing Store                   1
Thai Restaurant                  1
Bookstore                        1
Gym                              1
Japanese Restaurant              1
Pub                              1
Name: 3rd Most Common Venue, dtype: int64