<a href="https://colab.research.google.com/github/WilderJoseth/Coursera_Capstone/blob/master/projects/python/TitanicAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introduction

# 2. Data Understanding

## 2.1. Libraries

In [1]:
# Tools for data exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re
import math
import scipy.stats as stats

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## 2.2. Load data

In [2]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 68 bytes

In [3]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 755kB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 22.0MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 61.0MB/s]

In [4]:
dsTrain = pd.read_csv('/content/train.csv')
# dsTest = pd.read_csv('/content/test.csv')

## 2.3. Process data

In [8]:
print('Shape:', dsTrain.shape)
dsTrain.head()

Shape: (891, 12)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [9]:
dsTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
dsTrain.describe(include = 'all')

        PassengerId    Survived      Pclass  ...        Fare        Cabin  Embarked
count    891.000000  891.000000  891.000000  ...  891.000000          204       889
unique          NaN         NaN         NaN  ...         NaN          147         3
top             NaN         NaN         NaN  ...         NaN  C23 C25 C27         S
freq            NaN         NaN         NaN  ...         NaN            4       644
mean     446.000000    0.383838    2.308642  ...   32.204208          NaN       NaN
std      257.353842    0.486592    0.836071  ...   49.693429          NaN       NaN
min        1.000000    0.000000    1.000000  ...    0.000000          NaN       NaN
25%      223.500000    0.000000    2.000000  ...    7.910400          NaN       NaN
50%      446.000000    0.000000    3.000000  ...   14.454200          NaN       NaN
75%      668.500000    1.000000    3.000000  ...   31.000000          NaN       NaN
max      891.000000    1.000000    3.000000  ...  512.329200          NaN       NaN

[11 rows x 12 columns]

First conclusions:
* Remove PassengerId feature, because this is an incremental variable. All observations are unique.
* Remove Name feature, because this add only noise. Sex and Age are enough to explain a person's characteristic.
* Join SibSp and Parch features, and transform them in a binary variable.
* Fill Age feature with the mean.
* Remove Ticket feature, because this add only noise. Most of its observations are unique.
* Remove Cabin feature, because most of its observations are missing.

### 2.3.1. Fix missing values

In [11]:
dsTrain['Age'] = dsTrain['Age'].fillna(dsTrain['Age'].median())

In [15]:
dsTrain['Embarked'] = dsTrain['Embarked'].fillna('S')

### 2.3.1. Create new variable

In [13]:
dsTrain['FamilySize'] =  dsTrain['SibSp'] + dsTrain['Parch']
dsTrain['IsAlone'] = dsTrain['FamilySize'].map(lambda x: 0 if x > 0 else 1)

### 2.3.2. Remove variables

In [16]:
dsTrain = dsTrain.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'FamilySize'], axis = 1)

In [17]:
print('Shape:', dsTrain.shape)
dsTrain.head()

Shape: (891, 7)

   Survived  Pclass     Sex   Age     Fare Embarked  IsAlone
0         0       3    male  22.0   7.2500        S        0
1         1       1  female  38.0  71.2833        C        0
2         1       3  female  26.0   7.9250        S        1
3         1       1  female  35.0  53.1000        S        0
4         0       3    male  35.0   8.0500        S        1

In [18]:
dsTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   Fare      891 non-null    float64
 5   Embarked  891 non-null    object
 6   IsAlone   891 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB